[Unit]
Description=Pixhawk to lattepanda
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
User=root
ExecStart=/usr/local/bin/mavproxy.py --master /dev/ttyUSB5 --out=GCS_IP:UDP_PORT --daemon
Restart=on-failure

[Install]
WantedBy=multi-user.target 
